.app {
    padding: 2em 2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.app h1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.container{
    width: 90%;
    max-width: 1200px;
    min-width: 310px;
    margin-left: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.img__container img{
    background-image: url("/fondo.jpg");
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px cadetblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.tittle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: 10px;
    font-size:42px;
    background: linear-gradient(yellow,red);
    background-clip:inherit;
    -webkit-background-clip: text;
    color: transparent;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.form {
    display: flex;
    justify-content: center;
    height: 2rem;
    margin-bottom: 1rem;
    position: relative;
    top:-40px;
}
.form-input {
    width: 100%;
    max-width: 200px;
    padding-left: -30em;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    box-shadow: 8px 8px 8px rgb(120, 170, 96);
}
.form-btn {
    width: 80px;
    border-radius: 0 8px 8px 0;
    background-color: rgb(113,160, 25);
    box-shadow: 8px 8px 8px rgb(120, 170, 96);
    color: white;
    font-weight: 500px;
    transition: font-weight 150ms case, filter 150ms,case;
    cursor: pointer;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
    -webkit-transition: font-weight 150ms case, filter 150ms,case;
    -moz-transition: font-weight 150ms case, filter 150ms,case;
    -ms-transition: font-weight 150ms case, filter 150ms,case;
    -o-transition: font-weight 150ms case, filter 150ms,case;
}
.form-btn:hover {
    font-weight: 700;
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}
@keyframes rotate {from { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
    to { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.img {
    -webkit-animation: 5s rotate linear infinite;
    animation: 5s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;    
}
.img{
    background-image: url("/notExist.jpg");
    width:300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:150px;
    background-size:cover;
    background-position:0px -110px;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    -ms-border-radius:150px;
    -o-border-radius:150px;
}
.error {
    text-align: center;
    line-height: 1.8;
    font-weight: 400;
    font-size:2.5rem;
    background: linear-gradient(#62FF08,#759364 );
    background-clip:inherit;
    -webkit-background-clip: text;
    color: transparent;
}
.residents-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}