.app {
    padding: 2.5em 2em;
}
.container{
    background-image: url("/fondo.jpg")  ;
    background-size:cover;
    background-position:0px -40px;
}
.tittle {
    text-align: center;
    margin-bottom: 9.5em;
    position: relative;
    top:-45px;
    font-size:2.5rem;
    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    color: transparent;
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
.form {
    display: flex;
    justify-content: center;
    height: 2rem;
    margin-bottom: 1rem;
    position: relative;
    top:-40px;
}
.form-input {
    width: 100%;
    max-width: 200px;
    padding-left: -30em;
    border-radius: 8px 0 0 8px;
}
.form-btn {
    width: 90px;
    border-radius: 0 8px 8px 0;
    background-color: rgb(113,160, 25);
    color: white;
    font-wheight: 500px;
    transition: font-weight 150ms case, filter 150ms case;
    cursor: pointer;
}
.form-btn:hover {
    font-weight: 700;
    filter: brightness(1.1);
}
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.img{
    -webkit-animation: 3s rotate linear infinite;
    animation: 5s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.img{
    background-image: url("/notExist.jpg");
    width:300px;
    height:300px;
    border-radius:150px;
    background-size:cover;
    background-position:0px -110px;
    margin: 0 auto;
}
.error {
    text-align: center;
    line-heigth: 1.8;
    font-weight: 400;
    font-size:3rem;
    background: linear-gradient(#62FF08,#759364 );
    -webkit-background-clip: text;
    color: transparent;
}
.residents-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}